* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 50;
    row-gap: normal;
    column-gap: normal;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
    row-gap: normal;
    column-gap:normal;
}

.container {
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header header"
        "sidebar section1 section3"
        "sidebar section2 section3"
        "footer footer footer";
    height: 100vh;
    row-gap:  3px;;
    column-gap:  3px;;
}

.header {
    grid-area: header;
    background-color: rgb(236, 59, 139);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
}

.sidebar {
    grid-area: sidebar;
    background-color: #46eee6;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.section1 {
    grid-area: section1;
    background-color: #b8f54f;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.section2 {
    grid-area: section2;
    background-color: #f0e621;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.section3 {
    grid-area: section3;
    background-color: #7149eb;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 15px;
}

.footer {
    grid-area: footer;
    background-color: #32CD32;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}